<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Duh-Burger!</title>
    {{!-- jQuery Library CDN --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {{!-- Bootstrap CDN --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- Bootstrap Script --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {{!-- Javascript Link --}}
    <script src="/assets/js/burgers.js"></script>
    {{!-- CSS Link --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <img class="img-fluid" src="/assets/img/hamburger.png" alt="burger picture">
                </div>
            </div>
        </div>
        {{{ body }}}
    </div>
</body>

</html>