body{
    background-color: #FFF95F;
    color: black;
}
h1{
    color: #EF0009;
}
ul, ol{
    padding: 0;
}
.change-devour, .submit{
    margin: 20px 0 0 20px;
    border-radius: 25px;
    font-weight: bold;
}
.noteaten{
    position: relative;
    margin-left: 10%;
}
.eaten, .change-devour:active::after{
    position: relative;
    margin-left: 70%;
}
img{
    height: auto;
    max-width: 100%;
}